.recommendProductContainer {
  margin: 30px 15px 0;
  .mainTitle {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .productWrap {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    .product {
      .image {
        width: 50%;
      }
      .brand {
        font-size: 1rem;
        font-weight: 700;
      }
      .title {
        font-size: 1rem;
      }
      .priceInfo {
        display: flex;
        align-items: flex-end;
        span + span {
          margin-left: 5px;
        }
        .percent{
          color: #F00;
          font-weight: bold;
        }
        .retailPrice{
          text-decoration-line:line-through;
          color:#AAA;
          font-size: 0.75rem;
        }
        .salePrice{
          font-weight: bold;
        }
      }
    }
    .product + .product {
      margin-left: 10px;
    }
  }
}


.titleContainer{
  box-sizing: border-box;
  min-width: 250px;
  display: flex;
  justify-content: space-between;
  margin: 15px 15px;
  .title {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .iconWrap {
    display: flex;
    justify-content: space-between;
    .icon {
      display: inline-block;
      width: 25px;
      height: 25px;
      background-size: 25px 25px;
      background-repeat: no-repeat;
    }
    .iconSearch {
      background-image: url("/image/icon-search.png");
    }
    .iconCart {
      background-image: url("/image/icon-cart.png");
    }
    .icon + .icon {
      margin-left: 10px;
    }
  }
}

.categoryContainer{
  margin: 30px 0 0;
  .categoryWrap {
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-around;
    .category {
      font-size: 1rem;
      font-weight: 700;
      height: 50px;
      line-height: 50px;
    }
  }
}

.bannerSlide{
  .slideWrap {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    .slide {
      .bannerImg {
        width: 100%;
     }
    }
  }
}

.imageBannerWrap{
  display:flex;
  overflow: scroll;

  margin-top: 50px;
  .bannerImg{
    width:100%;
  }
}

.bestContainer{
  margin-top:30px;
  .titleWrap{
    display:flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 10px;
    font-size: 1.7rem;
    letter-spacing: -3px;
    font-weight: bold;
  }
  .hotItemList{
    .hotItemWrap{
      position:relative;
      display:flex;
      align-items: center;
      height:200px;

      border-top:#DDD 1px solid;
      padding:10px 5px;
      .bestOrder{
        position:absolute;
        left:10px;
        top:20px;

        background-color: red;
        font-weight: bold;
        color:white;
        width:30px;
        height:30px;
        line-height: 30px;
        text-align: center;
        vertical-align: center;
      }
      .image{
        width:180px;
        margin:auto 0;
      }
      .productInfo{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        height:100%;
        font-size:1rem;
        .brand{
          font-weight: bold;
        }
        .title{
          min-height:40px;
        }
        .price{
          font-weight:bold;
        }
        .tag{
          width:100%;
          display:inline;
          border:black solid 1px;
          padding: 1px 8px;
          font-size:0.8rem;
        }
      }
    }
  }
}